@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

.landingpage{
  height: 100vh;
  background-color: black;
  overflow: hidden;
  /* border: 1px solid red; */
}
.color{
  color:#00CEFC
}
.closeImage{
  cursor: pointer;
}
@keyframes rotateGlow {
  0%   {box-shadow: 0px 0px 31.75px #00CEFC; transform: rotate(180deg);}
  25%  {box-shadow: 0px 0px 63.5px #00CEFC; }
  50%  {box-shadow: 0px 0px 95.25px #00CEFC; }
  100% {box-shadow: 0px 0px 63.5px #00CEFC; }
}

@media  (width>=600px) {
  .navBar{
    padding-top: 1%;
    width: 100%;
    /* border: 1px solid white;/ */
    display: flex;
    justify-content: space-between;
  }
  .logo{
    color: white;
    font-size: 25px;
    font-family: 'Fugaz One';
  
  }
  
  .connectParentDiv{
    /* border:1px solid white;/ */
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .connectBtnclose{
    color: white;
    width: 100px;
    border: 2px solid white;
    height:45px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
    transition: width 0.5s;
    z-index:1;
  }
  
  
  .connectRed{
    width:50px;
  }
  .connectBtnclose label{
    cursor: pointer;
  }
  
  .openConnectBtn{
    color: white;
    width: max-content;
    /* border: 2px solid white; */
    /* padding:10px; */
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
  }
 
  
  .socials{
    border: 1px solid white;
    color:white;
    width: max-content;
  }


  

  .imageParentDiv{
    position: relative;
    right: -65%;
    bottom: 4%;
    transform: translateY(109px);
  }
  .imageParentDiv::after{
    content: "";
      border: 9px dashed #00CEFC;
      padding: 2px;
      border-radius: 50%;
      display: inline-block;
      width: 382px;
      height: 382px;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 0px 0px 63.5px #00CEFC;
      animation-name: rotateGlow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
  }

  .imageCircle{
    width:382px;
    height: 382px;
    /*
     border:9px dashed #00CEFC;
    animation-name: rotateGlow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    right:10%;
    position: absolute;
    top:25%; */
    overflow: hidden;
    border-radius: 50%;
  }


  
  .imagediv{
    object-fit: cover;
    width: 382px;
    height: 382px;
  
  }
  
  .heroContent{
    color:white;
    width: 40%;
    height: 40%;
    /* border:1px solid white; */
    position: absolute;
    top:30%;
    left:10%;
  }
  .heroContent h2{
    font-size: 70px;
  }
  .heroContent p{
    margin-left: 6px;
  }
  .working{
    display: flex;
    gap: 20%;
    /* border:1px solid white; */
    width: 10%;
    transform: translate(102%,-103%);
  }
  .work{
    width:51px;
    height: 51px;
    border: 2px solid #00CEFC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 17px #00CEFC;
  
  }
  
  .glowingball{
    width:306px;
    height: 306px;
    background-color: #00CEFC;
    /* position: absolute; */
    /* overflow: hidden; */
  
    /* bottom: -20%; */
    transform: translate(-58%,44%);
    box-shadow: 46px 0px 265px #00cefc;
    /* transform: translateY(100%);/ */
    border-radius: 50%;
  }
  
  
  .socialSites{
    
    display: flex;
    height:45px;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(300%);
    border: 2px solid white;
    border-radius: 10px;
    width: 1.4rem;
    opacity: 0;
    margin-right: 5%;
    transition: transform 0.6s,opacity 0.1s,width 1.5s;
  
  }
  
  .showSites{
    transform: translateX(0%);
    width:18.4rem;
    opacity: 1;
  
  }
  
}


@media (width<600px){
  .navBar{
    width: 100%;
    /* border: 1px solid white; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin:auto;

  }
  .logo{
    color: white;
    font-size: 25px;
    font-family: 'Fugaz One';
    padding-top: 10px;
    /* width: 50%; */
    /* border: 1px solid white; */
    text-align: center;
    /* margin: 0 auto;/ */
  
  }

  .work{
    width:39px;
    height: 39px;
    border: 2px solid #00CEFC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 17px #00CEFC;
  
  }

  .working{
    display: flex;
    gap: 10%;
    /* border:1px solid white; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(40%);
  }

  .grandPa{
    width: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(20%);
  }
  .imageParentDiv{
    width: 224px;
    height: 224px;
    /* border: 1px solid white; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translate(50%,20%); */
  }
  .imageParentDiv::after{
    content: "";
      border: 9px dashed #00CEFC;
      /* padding: 2px; */
      border-radius: 50%;
      display: inline-block;
      width: 224px;
      height: 224px;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 0px 0px 63.5px #00CEFC;
      animation-name: rotateGlow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
  }
  .imageCircle{
    width: 224px;
    height: 224px;
    /* border: 9px solid #00CEFC; */
    border-radius: 50%;
    overflow: hidden;
    /* box-shadow: 0px 0px 27px #00CEFC; */

  }

  .imagediv{
    width: 224px;
    height: 224px;
    object-fit: cover;
  }
  .heroContent{
    width: 100%;
    height: max-content;
    color: white;
    /* border: 1px solid white; */
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heroContent h2{
    font-size: 43px;

  }
  .heroContent p{
    width: 79%;
    text-align: center;
  }
 
  .socialSites{
    display: none;
  }
  .connectParentDiv{
    width: 100%;
    /* border: 1px solid white; */
    position: fixed;
    bottom: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
  }
  .connectBtnclose{
    color: white;
    margin: 0 auto;
    width: 100px;
    border: 2px solid white;
    height:45px;
    border-radius: 20px;
    text-align: center;
    /* top:40%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
    transition: width 0.5s;
    z-index:1;
  }
  
  
  .connectRed{
    width:50px;
  }
  .connectBtnclose label{
    cursor: pointer;
  }

  .socialSites{
    
    display: flex;
    height:45px;
    justify-content: space-evenly;
    align-items: center;
    transform: translate(0%,100%);
    border: 2px solid white;
    border-radius: 10px;
    width: 1.4rem;
    opacity: 0;
    
    transition: transform 0.499999s,opacity 0.2s,width 2.5s;
  
  }
  
  .showSites{
    transform: translate(0%,-30%);
    opacity: 1;
    width: 18.3rem;
  
  }
}
